<div class="containers">
    <div class="banner">
        <img src="../../../assets/images/profile.jpg" class="profile" alt="Foto">
    </div>
    <h1>Integrador Argentina Programa</h1>
    <h3>Creacion de una pagina web que sirva como portfolio</h3>
    <p>La siguiente SPA fue realizada con Angular para el frontend, Spring para el backend y MySQL para la administracion de
        base de datos, cuenta con multiples menus, una forma para login, edicion y eliminacion de articulos, etc.</p>
          <h1 style="text-align: center;">Tecnologias</h1>
            <ngb-carousel>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/icons/mysql-logo-svgrepo-com.svg" alt="MYSQL">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/icons/html-svgrepo-com.svg" alt="HTML">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/icons/css-svgrepo-com.svg" alt="CSS">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="../../../assets/images/icons/js-svgrepo-com.svg" alt="JS">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="../../../assets/images/icons/java-svgrepo-com.svg" alt="JAVA">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="../../../assets/images/icons/spring-svgrepo-com.svg" alt="Spring">
                    </div>
                  </ng-template>
              </ngb-carousel>
</div>