:host {
    height: 100%
    
}
.skills-container{
    display: grid;
    gap: 5rem;
    grid-template-columns:repeat(auto-fill, minmax(600px,1fr))
}
.skills-container > *{
    color: black;
    text-align: center;
    display: inline-block;
    margin: 10px 0 0 2%;
}
.container{
    padding: 20px 10px;
    min-width: 100vw;
    margin: 0;
}

.button-box{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
  